@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


.pei {
  width: 80%;
  margin-left: 10%;
  border-bottom: 20px;
}
.content {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-bottom: 4px;
}
.col-feature {
  display: block;
}
.col-feature .sub-color {
  color: #0FBF61;
  font-size: 1.6rem;
  font-weight: 700;
}
/*testimony*/
.wraper-testimony {
  background-size: cover;
  overflow: hidden;
  width: 100%;
  position: relative;
  padding: 110px 0;
}
.wraper-testimony::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to left, #a22631, #7a111a);
  opacity: 0.95;
}
.testimony {
  width: 100%;
}
.testimony .slick-prev {
  opacity: 0;
  left: -30px;
  z-index: 1;
  transition: all 0.3s ease;
}
.testimony .slick-prev::before {
  font-size: 1rem;
  content: "\f053" !important;
  font-family: FontAwesome !important;
  font-style: normal;
  font-weight: normal;
  color: #fff;
}
.testimony .slick-next {
  right: -30px;
  opacity: 0;
  transition: all 0.3s ease;
}
.testimony .slick-next::before {
  font-size: 1rem;
  content: "\f054" !important;
  font-family: FontAwesome !important;
  font-style: normal;
  font-weight: normal;
  color: #fff;
}
.testimony .slick-slide {
  position: relative;
}
.testimony .slick-slide div {
  margin: 0 5px;
}
.testimony:hover .slick-prev, .testimony:hover .slick-next {
  opacity: 1;
  transition: all 0.3s ease;
}
.testimony .blockquote {
  text-align: left;
  margin: 15px 30px 30px;
  display: flex;
}
.testimony .blockquote .fa {
  font-size: 1.3rem;
  display: inline-block;
  margin: 5px 15px 0 0;
  color: #f3f3f3;
  height: max-content;
}
.testimony .blockquote p {
  font-size: 1rem;
  line-height: 1.8;
  display: inline-block;
}
.testimony .blockquote .bytesti {
  font-size: 0.9rem;
  font-weight: 400;
}
.testimony .slick-dots {
  bottom: -40px;
}
.testimony .slick-dots li.slick-active button::before {
  opacity: 0.75;
  color: #f3f3f3;
}
.testimony .slick-dots li button::before {
  color: #f3f3f3;
}
/* footer */
footer {
  background: #e7eaec;
  padding: 75px 0 0;
  padding-right: 0px !important;
  padding-left: 0px !important;
  overflow: hidden;
}
footer .footer-col {
  padding-right: 15px;
  padding-left: 15px;
  margin: 15px 0;
}
footer .footer-col .heading {
  font-weight: 400;
  font-size: 1.1rem;
  margin-bottom: 10px;
}
footer .footer-col .content {
  line-height: 1.6;
  letter-spacing: 0.6px;
  margin-bottom: 10px;
}
footer .footer-col .content .link {
  font-size: 0.96rem;
  width: max-content;
  letter-spacing: 0;
  padding: 0 0 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
footer .footer-col .content .link:hover {
  opacity: 0.6;
  transition: all 0.3s ease;
}
footer .footer-col .content .socialicon {
  display: inline-block;
  padding: 10px 14px 6px;
  background: #111;
  margin-right: 10px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
}
footer .footer-col .content .socialicon i {
  font-size: 1.3rem;
}
footer .footer-col .content .socialicon:hover {
  background: #0FBF61;
  transition: all 0.3s ease;
}
.subfooter {
  width: 100%;
  margin-top: 90px;
  padding: 30px 15px;
  background: #111;
}
.subfooter .content {
  font-size: 0.8rem;
  opacity: 1;
  letter-spacing: 0.3px;
  margin: 0;
  color: #eee;
}
.subfooter .content-right {
  text-align: right;
  font-size: 0.9rem;
  opacity: 0.8;
  letter-spacing: 0.3px;
  margin: 0;
}
.subfooter .content-right i {
  padding: 0 5px;
}
@media only screen and (max-width: 768px) {
  .subfooter .content-right {
    text-align: left;
    margin-top: 5px;
  }
}
#scroll-to-top {
  cursor: pointer;
  width: max-content;
  height: max-content;
  position: fixed;
  right: 10px;
  z-index: 999;
}
#scroll-to-top.init {
  bottom: -60px;
  transition: all 0.3s ease;
}
#scroll-to-top.show {
  bottom: 15px;
  transition: all 0.3s ease;
}
#scroll-to-top div {
  font-size: 0.8rem;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 30px;
  border-radius: 30px;
  background: #0FBF61;
  transition: all 0.3s ease;
}
#scroll-to-top div:hover {
  background: #1b1b1b;
  transition: all 0.3s ease;
}
/** portofolio **/
/** contact **/
.form-side {
  padding: 30px 40px;
  background: #e7eaec;
  border-radius: 12px;
}
.text-side {
  padding: 15px 0;
  margin-top: 15px;
}
.text-side .address {
  padding-top: 15px;
  line-height: 1.6;
}
.text-side .address .heading {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.text-side .address .list {
  position: relative;
  max-width: 320px;
  display: block;
  padding: 5px 0 15px;
  padding-left: 40px;
}
.text-side .address .list i {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 1.3rem;
  display: inline-block;
}
.text-side .address .list a {
  color: #f3f3f3;
  text-decoration: none;
  transition: all 0.3s ease;
}
.text-side .address .list a:hover {
  color: #0FBF61;
  transition: all 0.3s ease;
}
.formcontact {
  display: block;
  width: 100%;
}
.formcontact label {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}
.formcontact label input {
  font-size: 0.9rem;
  width: 100%;
  border-radius: 4px;
  padding: 8px 10px;
  border: 1px solid #ebebeb;
}
.formcontact label textarea {
  font-size: 0.9rem;
  width: 100%;
  border-radius: 4px;
  padding: 8px 10px;
  border: 1px solid #ebebeb;
}
.formcontact label .msg-error {
  font-size: 0.87rem;
  opacity: 0.8;
  padding: 5px 0;
}
.formcontact button {
  position: relative;
  overflow: hidden;
  font-size: 0.86rem;
  text-transform: uppercase;
  color: #fff;
  background-image: linear-gradient(to left, #0FBF61, #0FBF61);
  border: none;
  border-radius: 30px;
  padding: 12px 44px;
  margin: 15px 0;
  transition-delay: 0s;
  z-index: 0;
}
.formcontact button span {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  z-index: 1;
}
.formcontact button::before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-image: linear-gradient(to left, #0FBF61, #0FBF61);
  opacity: 1;
  z-index: 1;
  transition: all 0.3s ease;
}
.formcontact button:hover::before {
  opacity: 0;
  transition: all 0.3s ease;
}
/*** media all ***/
@media only screen and (max-width: 1199px) {
  .item-dropdown {
    position: relative;
    width: max-content;
    inset: unset;
    padding-top: 10px;
    border: 0;
    background: none;
  }
  .item-dropdown .dropdown a {
    padding: 10px 10px 10px 10px;
    width: max-content;
    text-align: left;
    left: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}
@media only screen and (max-width: 1024px) {
  .m-10-hor {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media only screen and (max-width: 768px) {
  .breadcumb .mainbreadcumb .list {
    justify-content: left;
    text-align: left;
    margin-bottom: 30px;
  }
}
.correo {
  padding-top: 30px;
  color: #02e4e4 !important;
  font-size: large;
  border: 1px solid springgreen;
  padding: 8px;
  border-radius: 12px;
}
.propuesta {
  width: 70%;
  margin-left: 15%;
}
.arriba {
  margin-top: 40px;
}
.menos {
  font-size: 9px !important;
}
.stats-asset {
  padding-top: 40px;

  padding-bottom: 20px;
 
  text-align: center;
}

.stats-subject {
  font-family: "Frank Ruhl Libre", "Times New Roman", Times, serif;
  font-weight: 700;
  display: block;
  opacity: 0.9;
  filter: alpha(opacity=90);
  margin-bottom: 11px;
}
.stats-description {
  display: block;
  opacity: 0.6;
  filter: alpha(opacity=60);
  font-size: 13px;
  padding: 15px;
}
.acm-stats ul {
  list-style: none;
  padding: inherit;
}
@media (max-height: 700px) {
  .acm-stats {
    background: #a22631;
    color: #ffffff;
    width: 100%;
  }
}
.style-1 a {
  color: #fff;
}
.srmilagros {
  width: 80%;
  margin-left: 10%;
  text-align: center;
}
.srmilagros img {
  margin-top: 10px;
}
.srmilagros h1 span {
  font-size: 20px;
}
.tarjeta .card-body {
  background: #7a111a;
}
.tarjeta .btn:hover {
  background: #7a111a;
}
.treinta img {
  display: block;
  margin: auto;
  margin-top: 50px;
}
.videos {
  text-align: center;
}
.videos video {
  border: none;
  margin: 20px;
}
.fotos ul {
  display: flex;
}
.aniversarioImg {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.aniversarioImg img {
  margin-top: 40px;
  width: 60%;
  margin-left: 20%;
}


@media only screen and (max-width: 650px) {
	
  .aniversarioImg img {
    margin-top: 0px;
    width: 100%;
    margin:auto;
  }
  .title_responsive {
    width: 90%;
    margin: auto;
  }
  .title_responsive h1{
    font-size: 1.6rem !important;
  }
  .description_responsive{
    font-size: .9rem;
  }
  .stats-description{
    font-size: .9rem;
    width: 90%;
    margin: auto;
  }
}

.title_noticia{
  margin-top: 60px;
}
.subtitle_noticia{
margin-top: -20px;
margin-bottom: 30px;
}
.css-1blg0xl-PostCard{
  color: #EFF3F5 !important;
}
.post-card .meta{
  color: #A3A9AC !important;
}