.ancho img{
  width: 350px;
}
@font-face {
  font-family: FedokaOne;
  src: url(../assets/fonts/FredokaOne-Regular.ttf);
  }
.bannerInicial{
  width: 100%;
  height: 600px;
  background-color: #0fbf61;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%2312ae5e' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23149d5b' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23138c57' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23127c54' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%230f6c50' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%230e674d' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%230e6349' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%230d5e46' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%230d5a42' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%230c553f' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}
.banner_container{
display: flex;
width: 80%;
  /* border: 1px dotted floralwhite; */
  margin: auto;
  padding-top: 55px;

}

.bannerInicial img{
  /* border: 2px solid springgreen; */
  width: 650px;
  margin-top: 15px;
}
.texto_inicial{
  /* border: 1px solid red; */
  width: 50%;
  margin: auto;
}

.inicial_banner_title{
  
  font-family: FedokaOne !important;
  color: #f8f9fa !important;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1.2;
}
.inicial_banner_description{
  color: #f8f9faad !important;
  width: 80%;
}
.btn{
  background: #0fbf61;
  padding: 10px;
  color: #fff;
  border-radius: 12px;
  /* border: 1px solid #0fbf84; */
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.123);
}
.btn:hover{
  color: hsl(165, 100%, 91%);
  /* border: 1px solid #f8f9fa */

;}
.text-color-verde{
  color: hsl(148, 100%, 77%);
}
@media only screen and (max-width: 1205px) {
	.banner_container {
    display: block;
  }
  .texto_inicial {
    /* border: 1px solid red; */
    width:80%;
    margin-top: -20px;
    margin: auto;
  }
  .text-color-title {
    padding-top: 0px;
    text-align: center;
    
  }
  .texto_inicial{
    text-align: center;
  }
  .inicial_banner_description {
   width: 100%;
  }
  .inicial_banner_title{
    font-size: 2.5rem;
    line-height: 1.2;
  }
  .inicial_banner_description{
    font-size: 1rem;
  }
  .text-color-verde{
    font-size: 1.1rem;
  }
  .btn{
    background: #0fbf61;
    padding: 7px;
    color: #fff;
    border-radius: 12px;
    font-size: 1rem;
    /* border: 1px solid #0fbf84; */
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.123);
  }

  .bannerInicial{
    height: 730px;
  }
  .bannerInicial img {
    margin-top: 0px;
    width: 70%;
  }


} 

@media only screen and (max-width: 787px) {
  .bannerInicial{
    height: 710px;
  }
  .bannerInicial img {
    margin-top: 10px;
    width: 100% !important;
  }
} 




.sub_banner{
  /* border: 1px solid red; */
  width: 100%;
  height: 100px;
  background: #121a21;
  z-index: 1;
  position: absolute;
}
/* Fin de estilos para el banner */

.container_CEGNE{
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.137);
  border-radius: 12px;
  width: 80%;
  margin: auto;
  display: flex;
  margin-top: 100px;
}

.CEGNE_content{
  /* border: 1px solid springgreen; */
  width: 30%;
}
.CEGNE_description{
border-left: 1px solid #0fbf6162;
  width: 70%;
}
.dios {
    padding: 5px;
    border-radius: 5px;
    background: #0fbf61;
    color: #FBFBFE;
    margin: auto;
  }

  .CEGNE_description{
    padding-left: 10px;
  }
  @media only screen and (max-width: 804px) {
    .CEGNE_description{
      font-size: 1rem;
    }
  } 
  
  @media only screen and (max-width: 678px) {
    .container_CEGNE{
      display: block;

    }
    .CEGNE_content{
      width: 100%;
    }
    .CEGNE_description{
      width: 100%;
    }
  } 
  

  /* Areas curriculares */
  .areas_curriculares{
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.137);
    border-radius: 12px;
    width: 55%;
    margin: auto;
    padding: 25px;
    margin-bottom: 50px;
  }
  .areas_title{
  font-family: FedokaOne !important;
  }
  .items_areas_curriculares{
    padding-left: 10%;
  }
  @media only screen and (max-width: 1231px) {
    .areas_curriculares{
      width: 60%;
    }
  } 
  
  @media only screen and (max-width: 1100px) {
    .areas_curriculares{
      width: 70%;
    }
  } 
  
  @media only screen and (max-width: 977px) {
    .areas_curriculares{
      width: 80%;
    }
  } 
  @media only screen and (max-width: 885px) {
    .areas_curriculares{
      width: 90%;
    }
  } 
  @media only screen and (max-width: 700px) {
    .areas_curriculares{
      display: block;
    }
    .ancho img {
      width: 80%;
      margin-left: 10%;
    }
  } 
  
  .departamento_padding{
    padding-left: 25px;
  }
  .instrumentos_de_gestion {
    border: 1px solid rgba(255, 255, 255, 0.137); 
    width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 12px;
  }
  .text-color-title-left{
    color: #EFF3F5;
  }
  .nota{
    width: 85%;
    margin: auto;
  }

  .foto_banner_inicial {
    /* border: 1px solid red; */
    display: flex;
    width: 100% !important;
    margin: auto;
    margin-top: 10px;
  }